Options +FollowSymLinks -MultiViews

RewriteEngine on
#rules
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule auth http://localhost/boot/app/AuthController.php
RewriteRule ress http://localhost/boot/app/AuthController.php
ErrorDocument 404 http://localhost/boot/public/view/notFound.php    