Options +FollowSymLinks -MultiViews
RewriteEngine on
#Rutas
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^user$ app/UserController.php
RewriteRule ^prod$ app/ProductController.php
RewriteRule ^public/inicio$ public/index.php
RewriteRule ^public/passreset$ public/passreset.php
RewriteRule ^public/cerrarsesion$ public/logout.php
RewriteRule ^public/contraseñacambiada$ public/passchange.php
RewriteRule ^public/correoconfirmado$ public/passreset.php
RewriteRule ^public/cuentacreada$ public/signup.php
RewriteRule ^public/signup$ public/successmgs.php
RewriteRule ^login$ index.php
RewriteRule ^products/allProducts$ products/index.php
RewriteRule ^product/([a-zA-Z0-9-]*)$ products/details.php?slug=$1